ADZUNA_APP_ID=
ADZUNA_APP_KEY=
JOOBLE_API_KEY=
BOSS_COOKIE=
LAGOU_COOKIE=
ZHAOPIN_COOKIE=
PAYMENT_PROVIDER=xunhu
XUNHU_GATEWAY=https://api.xunhupay.com/payment/do.html
XUNHU_APPID=
XUNHU_APPSECRET=
XUNHU_NOTIFY_URL=
XUNHU_RETURN_URL=
XUNHU_PAY_TYPE=alipay
ADMIN_TOKEN=
ANTHROPIC_API_KEY=
